
body {
    background: #2C3331;
}

.container {
    margin: 20px 0px 0px 10px;
    position: relative;
}

.text pre {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.commandWindow {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 0;
}
